@{
    var isOwner = ViewBag.IsOwner as bool? ?? false;
}

@if (isOwner)
{
    <div class="alert alert-warning d-flex justify-content-between align-items-center">
        <div>
            <strong>你是這團的團主</strong><br />
            你可以管理這一團的進度與成員
        </div>

        <a href="/group/@Model.GroupId/manage"
           class="btn btn-primary btn-lg">
            管理我的團
        </a>
    </div>
}
