@{ ViewData["Title"] = "附近揪團"; }
<div id="app">
    <app-loading :show="loading"></app-loading>
    <app-toast :items="toasts" v-on:remove="removeToast"></app-toast>
    <div class="card card-body mb-3">
        <div class="row g-2">
            <div class="col-md-2"><input class="form-control" v-model="filters.distance" placeholder="距離(km)" /></div>
            <div class="col-md-2"><input class="form-control" v-model="filters.store" placeholder="店家" /></div>
            <div class="col-md-2"><input class="form-control" v-model="filters.minAmount" placeholder="最低金額" /></div>
            <div class="col-md-2"><input class="form-control" v-model="filters.maxAmount" placeholder="最高金額" /></div>
            <div class="col-md-2"><input type="datetime-local" class="form-control" v-model="filters.deadline" /></div>
            <div class="col-md-2 d-grid"><button class="btn btn-primary" v-on:click="load">篩選</button></div>
        </div>
    </div>
    <div v-if="!groups.length"><app-empty-state text="目前沒有可加入的揪團"></app-empty-state></div>
    <div class="row g-3">
        <div class="col-md-4" v-for="group in groups" :key="group.groupId">
            <div class="card card-hover h-100" v-on:click="goDetail(group.groupId)">
                <div class="card-body">
                    <h5>{{ group.storeName }}</h5>
                    <div>目標：<app-money :value="group.targetAmount"></app-money></div>
                    <div>目前：<app-money :value="group.currentAmount"></app-money></div>
                    <div>截止：{{ group.deadline }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<script src="/js/api/apiClient.js"></script>
<script src="/js/components/app-components.js"></script>
<script src="/js/pages/consumer-home.js"></script>
}
