@model GroupDelivery.Domain.StoreUpdateRequest
@{ ViewData["Title"] = "編輯店家"; }
<div id="app" data-mode="edit" data-store-id="@Model.StoreId" data-store-name="@Model.StoreName" data-phone="@Model.Phone" data-address="@Model.Address">
    <app-loading :show="submitting"></app-loading>
    <app-toast :items="toasts" v-on:remove="removeToast"></app-toast>
    <div class="card"><div class="card-body">
        <h4>編輯店家</h4>
        <div class="mb-2"><label class="form-label">店名</label><input class="form-control" v-model="form.storeName" /><app-form-error :errors="errors" field="storeName"></app-form-error></div>
        <div class="mb-2"><label class="form-label">電話</label><input class="form-control" v-model="form.phone" /><app-form-error :errors="errors" field="phone"></app-form-error></div>
        <div class="mb-2"><label class="form-label">地址</label><input class="form-control" v-model="form.address" /><app-form-error :errors="errors" field="address"></app-form-error></div>
        <button class="btn btn-primary" :disabled="submitting" v-on:click="submit">儲存</button>
        <div class="text-muted mt-2" v-if="placeResult">{{ placeResult }}</div>
    </div></div>
</div>
@section Scripts {
<script src="/js/api/apiClient.js"></script>
<script src="/js/components/app-components.js"></script>
<script src="/js/pages/merchant-store-form.js"></script>
}
